.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.modal-overlay .modal-content {
    padding: 0;
    background-color: white;
    border-radius: 12px;
    max-width: 450px;
    width: 90%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
    overflow: hidden; 
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.comprovante-header {
    background-color: var(--primaria);
    color: var(--fundo);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    font-weight: 600;
}

.comprovante-header i {
    margin-right: 10px;
}

.comprovante-body {
    padding: 30px 25px;
}

.comprovante-texto {
    font-size: 1.2em; 
    color: var(--primaria); 
    line-height: 1.6;
    margin: 0 0 30px 0;
}

.comprovante-texto strong {
    color: var(--primaria)
}

.comprovante-saldo {
    display: inline-block;
    background-color:var(--secundaria);
    color: #ffffff;
    padding: 12px 25px;
    border-radius: 20px; 
    font-size: 1.1em;
    font-weight: bold;
}

.comprovante-footer {
    padding: 20px;
    color: var(--primaria);
}

#comprovante-btn-fechar {
    color: var(--primaria);
    text-decoration: none;
    font-weight: 600;
}

#comprovante-btn-fechar:hover {
    text-decoration: underline;
}