@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('dashboard.css');
@import url('recarga.css');

:root{
    --primaria:#2A2B3C;
    --secundaria:#0CC2AA;
    --fundo:#EEEEEE;
    --alerta:#FF0B48;
}

body{
    font-family: 'Inter';
    margin: 0;
    background-color: var(--fundo);
    color: var(--primaria);
}

header{
    background-color: var(--primaria);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    display: flex;
    align-items: center;
    gap:15px;
}

.header-logo .logo-titulo{
    font-size: 24px;
    font-weight: 700;
    color: white;
    padding: 5px 10px;
    border-radius: 8px; 
}

.user-info {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--secundaria);
    padding: 8px 15px;
    border-radius: 20px;
}

.user-info i {
    font-size: 18px;
    background-color: var(--secundaria);
    padding: 10px 12px;
    border-radius: 20px 0 0 20px;
    margin-right: 0; 
}

.matricula-info {
    display: flex;
    align-items: center;
}

#matricula-input {
    background-color: var(--fundo);
    border: none;
    border-radius: 5px;
    padding: 8px 0;
    font-size: 16px;
    font-weight: 500;
    color:var(--primaria);
}

#btn-carregar-matricula {
    padding: 10px;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primaria);
}

#btn-carregar-matricula:hover {
    color: var(--secundaria);
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        padding: 15px;
    }

    .header-logo .logo-title {
        display: none; 
    }
}