@import url('https://fonts.google.com/share?selection.family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');
@import url('dashboard.css');
@import url('recarga.css');

:root{
    --primaria:#2A2B3C;
    --secundaria:#0CC2AA;
    --fundo:#EEEEEE;
    --alerta:#FF0B48;
}

body{
    font-family: 'Inter';
    margin: 0;
    background-color: var(--fundo);
    color: var(--primaria);
}

header{
    background-color: var(--primaria);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    display: flex;
    align-items: center;
    gap:15px;
}

.header-logo .logo-titulo{
    font-size: 24px;
    font-weight: 700;
    color: white;
    padding: 5px 10px;
    border-radius: 8px; 
}

.user-info {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--secundaria);
    padding: 8px 15px;
    border-radius: 20px;
}

.user-info i {
    margin-right: 10px;
    font-size: 18px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        padding: 15px;
    }

    .header-logo .logo-title {
        display: none; 
    }
}